
body{
   
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135eg,#00fffc,#eee);
    color: #1105bce4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 100vh;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}
.container{
    text-align: center;
    padding-left: 5px;
    
    margin-left: 170px;
    background: transparent;
    border-radius: 20px;
    box-shadow: 0 10px 20px red;
    width: 10000px;
    max-width: 1200px;
    animation: fadeIn 1s ease-in-out;
}
header h1{
    font-size: 28px;
    color: beige;
    font-weight: 700;
    margin-bottom: 0;
    font-family: monospace;
}
img{
    border-radius: 1000%;
    height: 200px;
    width: 200px;
    align-items: center;
}
.sos-button{
    background-color: crimson;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 500px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 4px 15px red;
}
.sos-button:hover{
    background-color: red;
    box-shadow: 0 6px 20px rgba(255,26,26,0.5);
    transform: translateY(-3px);
}
.button{
display: flexbox;
    flex-direction: row;
    gap: 15px;
}
.feature-button{
    background-color: blueviolet;
    color: #fff;
    border: none;
    padding: 15px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    box-shadow: 0 4px 15px red;
}
.feature-button{
    background-color: red;
    box-shadow: 0 4px 15px rgba(205,3,227,0.4);
    transform: translateY(-3px);
}
@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(-200px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    width: 100%;
    color: darkgray;
    background: transparent;
    position: relative;
}
ul{
    background-color: ;
     padding: 3px 0;
     position: sticky;
     top: 0;
 }
 li{
     display: inline;
     font-size: 20px;
     font-weight: bold;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     padding: 45px;
     
 }
 a{
    text-decoration: none;
 }
 h1{
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }
 .container1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
    padding-left: 10px;
}

.bar {
    height: 100px;
    width: 200px;
    max-width: 200px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

button {
    width: 100%;
    
    padding: 15px;
    margin-top: 15px;
    font-size: 18px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    align-items: center;
}

.call-bar {
    background-color: red; /* Green */
}

.call-bar button {
    background-color: black;
}

.emergency-bar {
    background-color: red; /* Red */
}

.emergency-bar button {
    background-color: black;
}

.notification-bar {
    
    background-color: red; /* Blue */
}

.notification-bar button {
    
    background-color: black;
}

.help-bar {
    background-color: red; /* Orange */
}

.help-bar button {
    background-color: black;
}

.recorder-bar {
    background-color: red; /* Purple */
}

.recorder-bar button {
    background-color: black;
}

button:hover {
    opacity: 0.8;
}